{{ if .Site.Params.widgets.categories }}
    {{ if isset .Site.Taxonomies "categories" }}
        {{ if not (eq (len .Site.Taxonomies.categories) 0) }}
            <div class="card border-info">
                <div class="card-header">
                    <h5 class="text-uppercase panel-head">{{ i18n "categoriesTitle" }}</h5>
                </div>    
                <div class="card-body">
                    {{ $current := . }}
                    {{ range $name, $items := .Site.Taxonomies.categories }}
                        <a href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | upper }} ({{ len $items }})</a>                        
                    {{ end }}
                </div>                
            </div>
        {{ end }}
    {{ end }}
{{ end }}