<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
<div id="gr_custom_widget_1657052711">
    <div class="gr_custom_container_1657052711">
        <h2 class="gr_custom_header_1657052711">
          <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/103159587-i-books?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget">I ❤️&#39;s bookshelf: currently-reading</a>
        </h2>
        <div class="gr_custom_each_container_1657052711">
            <div class="gr_custom_book_container_1657052711">
                <a title="Played to Death (Scott Drayco Mystery #1)" rel="nofollow" href="https://www.goodreads.com/review/show/4719269141?utm_medium=api&amp;utm_source=custom_widget"><img alt="Played to Death" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1439320738l/23731285._SY75_.jpg" /></a>
            </div>
            <div class="gr_custom_rating_1657052711">
                <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
            </div>
            <div class="gr_custom_title_1657052711">
                <a rel="nofollow" href="https://www.goodreads.com/review/show/4719269141?utm_medium=api&amp;utm_source=custom_widget">Played to Death</a>
            </div>
            <div class="gr_custom_author_1657052711">
                by <a rel="nofollow" href="https://www.goodreads.com/author/show/5751024.B_V_Lawson">B.V. Lawson</a>
            </div>
            <div class="gr_custom_tags_1657052711">
                tagged:
                currently-reading
            </div>
        </div>
        <div class="gr_custom_each_container_1657052711">
            <div class="gr_custom_book_container_1657052711">
                <a title="An Eye for an Eye (Detective Kate Young, #1)" rel="nofollow" href="https://www.goodreads.com/review/show/4786268542?utm_medium=api&amp;utm_source=custom_widget"><img alt="An Eye for an Eye" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1590769254l/53624264._SY75_.jpg" /></a>
            </div>
            <div class="gr_custom_rating_1657052711">
                <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
            </div>
            <div class="gr_custom_title_1657052711">
                <a rel="nofollow" href="https://www.goodreads.com/review/show/4786268542?utm_medium=api&amp;utm_source=custom_widget">An Eye for an Eye</a>
            </div>
            <div class="gr_custom_author_1657052711">
                by <a rel="nofollow" href="https://www.goodreads.com/author/show/14925467.Carol_Wyer">Carol Wyer</a>
            </div>
            <div class="gr_custom_tags_1657052711">
                tagged:
                currently-reading
            </div>
        </div>
        <div class="gr_custom_each_container_1657052711">
            <div class="gr_custom_book_container_1657052711">
              <a title="The Botanist (Washington Poe #5)" rel="nofollow" href="https://www.goodreads.com/review/show/4793496153?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Botanist" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1647691479l/58341336._SY75_.jpg" /></a>
            </div>
            <div class="gr_custom_rating_1657052711">
                <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
            </div>
            <div class="gr_custom_title_1657052711">
                <a rel="nofollow" href="https://www.goodreads.com/review/show/4793496153?utm_medium=api&amp;utm_source=custom_widget">The Botanist</a>
            </div>
            <div class="gr_custom_author_1657052711">
                by <a rel="nofollow" href="https://www.goodreads.com/author/show/17850464.M_W_Craven">M.W. Craven</a>
            </div>
            <div class="gr_custom_tags_1657052711">
                tagged:
                currently-reading
            </div>
        </div>
        <br style="clear: both"/>
        <center>
          <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
        </center>
        <noscript>
          Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with I ❤️, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
        </noscript>
    </div>
</div>