{{- if .Site.Params.widgets.recent }}
    {{- $recent := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{- $recent_num := (.Site.Params.widgets.recent_num | default 10) }}

    {{- if $recent }}
        <div class="card border-info">
            <div class="card-header">
                <h5 class="text-uppercase">{{ i18n "recentTitle" }}</h5>
            </div>
            <ul class="list-group">
                {{- range first $recent_num $recent }}
			        <li class="list-group-item">
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
			    {{- end }}
		    </ul>
	        
        </div>
    {{- end }}
{{- end }}