{{ if .Site.Params.widgets.tags }}
    {{ if isset .Site.Taxonomies "tags" }}
        {{ if not (eq (len .Site.Taxonomies.tags) 0) }}
            <div class="card border-info">
                <div class="card-header">
                    <h5 class="text-uppercase panel-head">{{ i18n "tagsTitle" }}</h5>
                </div>

                <div class="card-body">
                    {{ $current := . }}
                    {{ range $name, $items := .Site.Taxonomies.tags }}
                        <a href="{{ "tags/" | relLangURL }}{{ $name | urlize | lower }}">
                            <i class="fa fa-tag"></i>{{ $name }}
                        </a>                         
                    {{ end }}                    
                </div>
            </div>
        {{ end }}
    {{ end }}
{{ end }}