
// Site variables
$font_primary: Helvetica, Arial, sans-serif;
$h1: 64px;
$h1-lg: 52px;
$h1-md: 42px;
$h2: 38px;
$h2-md: 30px;
$h3: 30px;
$h3-md: 24px;
$h4: 24px;
$h5: 18px;
$h6: 16px;
$white: #ffffff;
$black: #000000;
$dark: #152035;
$gray: #747577;
$light: #FAFAFA;
$color_primary: #01AD9F;