{{ define "main" }}    
    <h1 class="text-dark">{{ .Title }}</h1>
    <div class="container pb-5">
    {{ if ne .Kind "taxonomy" }}
        {{ range .Paginator.Pages }}
            <div class="row g-4 mt-2 ">
                <div class="col-lg-3 col-sm-12 align-middle">
                    {{ if resources.Get .Params.featuredImage }}
                        {{ $image := resources.Get .Params.featuredImage }}
                        {{ $image := $image.Resize "220x" }}
                        <img class="img-fluid rounded" src="{{ $image.RelPermalink }}" width="220px" alt="featured image {{.Title }}"> 
                    {{ end }}    
                </div>
                <div class="col-lg-9 col-sm-12 bg-light">
                    <a class="text-decoration-none post-title" href="{{ .RelPermalink }}">
                        <h2>{{ .Title }}</h2>
                    </a>
                    {{/*  Categories: {{ range .Params.categories }}
                        <a class="text-decoration-none nav-item px-1" href="/categories/{{ . | urlize}}">{{ . }}</a>
                        {{end}}<br/>
                    Tags:{{ range .Params.tags }}
                        <a class="text-decoration-none nav-item px-1" href="/tags/{{ . | urlize}}">{{ . }}</a>
                        {{end}}<br/>  */}}
                    <p>{{- partial "metadata.html" . }}</p>
                    {{ if eq .Params.posttype "review" }}
                        Rating: {{ .Params.viewRating }}<br/>
                    {{ end }}    
                    {{ if .Params.description }}
                        <em>{{ .Params.description | truncate 300 }}</em>
                    {{ else }}
                        {{ .Content | truncate 300 }}
                    {{ end }}    
                    <a class="text-decoration-none link-secondary nav-link" href="{{.Permalink}}">...Read More</a>
                </div>
            </div>                
        {{ end }} {{/* Range */}}
        <br />
        <div class="d-flex justify-content-center">
            {{ template "_internal/pagination.html" . }}
        </div>
        
    {{ end }} {{/* if Kind */}}
    </div>
{{ end }} {{/* Main */}}