{{ define "main" }}

<h1 class="h2">{{ .Title }}</h1>
<br/>
<!-- Check Blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "review") (eq .Section "reviews") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}
  {{- partial "breadcrumbs.html" . }}<br/>

  {{ if eq .Params.posttype "review" }}
    <div class="container-fluid row">
      <div class="col-sm-5">
        {{ if resources.Get .Params.cover.image }}
          {{ $image := resources.Get .Params.cover.image }}
          {{ $image := $image.Resize "240x" }}
          <img class="rounded img-fluid" src="{{ $image.RelPermalink }}"> 
          <p class="text-center">{{ .Params.cover.caption }}</p>
        {{ end }}      
      </div>
      <div class="col-sm-7 mt-5">
        <div class="container-fluid py-5 bg-light">   
          Title:&nbsp;&nbsp;<strong>{{.Params.bookTitle}}</strong><br/>
          Author:&nbsp;&nbsp;<i>{{.Params.bookauthors}}</i><br/>
          Date Published:&nbsp;&nbsp;{{dateFormat "2 Jan, 2006" .Params.pubdate}}<br/>
          Genre:&nbsp;&nbsp;{{.Params.genres}}<br/>
          Publisher:&nbsp;&nbsp;{{.Params.publishers}}<br/>
          {{ if .Params.isbn13 }}
            ISBN:&nbsp;&nbsp;{{.Params.isbn13}}<br/>
          {{ end }}
          {{ if .Params.series }}
            Series:&nbsp;&nbsp;{{.Params.series}}&nbsp;{{.Params.seriesnum}}<br/>
          {{ end }}
        </div>                
      </div>
    </div>
  {{ else }}
    <img
      class="rounded w-50 mx-auto d-block"
      src="{{ .Params.cover.image }}"
      alt="{{ .Params.cover.alt }}"/>
    <p class="text-center">{{ .Params.cover.caption }}</p>
  {{ end }}

  <div class="row text-center">
    <div class="col">
      {{- partial "metadata.html" . }}
    </div>    
  </div>
  <br />
  {{ .Content }}  
  <br />
  
  {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
  <div class="row">
    <div class="col-auto">
        Tags: {{range ($.GetTerms $tags) }}
          <a class="badge rounded-pill bg-success nav-link" href="{{.Permalink}}">{{.Title}}</a>&nbsp;
        {{ end }}
    </div>
  </div>
  <br />
  {{- partial "disqus.html" . -}}
{{ else}}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          {{.Content}}
        </div>
      </div>
    </div>
{{ end }}
{{ end }}