{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}
<br />
<ul class="terms-tags">
    {{- $type := .Type }}

    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    <li class="list-inline-item mb-1">
        <a class="h6 px-4 py-3 rounded bg-light d-block font-weight-700" href="{{ .Permalink }}">
          {{ partial "fontawesome.html" (dict "icon" "tags" "class" "inline-svg") }}  
          {{ .Name }} 
          {{ $count }}
        </a>
    </li>
       
    {{- end }}
    {{- end }}
<!-- </ul> -->

{{- end }}{{/* end main */ -}}