<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ "/" | relURL }}">
            <img src="{{ .Site.Params.brandimg }}" alt="{{ .Site.Params.title }}">
            &nbsp;{{ .Site.Title }}
        </a>
  
        <!-- Activated for mobile view -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Menu Start -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{ range .Site.Menus.main }}
            <li class="nav-item">
                {{ $text := print .Name | safeHTML }}
                <a class="nav-link" title="{{ $text }}" href="{{ .URL }}">
                    {{ $text }}
                </a>
            </li>
            {{ end }}
        </ul>
  
        <div class="navbar-nav d-flex flex-row justify-content-around">
            {{ range .Site.Menus.social }}
            {{ $title := print .Title | safeHTML }}
            <a class="nav-link" title="{{ $title }}" href="{{ .URL }}">
                {{ $text := print .Name | safeHTML }}
                {{ partial "fontawesome.html" (dict "icon" $text "class" "inline-svg-x2") }}
            </a>
            {{ end }}
        </div>
    </div>
    <!-- Menu End -->
    </div>
</nav>

<!-- Heading -->
{{ $subheading := .Site.Params.subheading }}
{{ if $subheading }}
    <div class="container-fluid mt-5 pt-2">
        {{ if .Site.Params.headerImage }}
            {{ if resources.Get .Site.Params.headerImage }}
                {{ $image := resources.Get .Site.Params.headerImage }}
                {{ $image := $image.Resize .Site.Params.headerImageSize }}
                <img class="img-fluid" src="{{ $image.RelPermalink }}" width="1466" height="295"> 
            {{ end }}       
        {{ else }}
            <div class="py-5 bg-warning text-center">
                <h1>{{ .Site.Params.myHeading }}</h1>
                <p>{{ .Site.Params.mySubHeading }}</p>
                {{ range .Site.Menus.share }}
                    {{ $title := print .Title | safeHTML }}
                    <a title="{{ $title }}" href="{{ .URL }}">
                        {{ $text := print .Name | safeHTML }}
                        {{ partial "fontawesome.html" (dict "icon" $text "class" "inline-svg-x2 link-dark") }}    
                    </a>                    
                {{ end }}
            </div>
        {{ end }}
    </div>
{{ end }}
   