{{- $scratch := newScratch -}}

{{- if not .Date.IsZero -}}
    <i class="fa fa-calendar-alt"></i>
    &nbsp;
    <span>{{.Date.Format "2 Jan 2006"}}</span>    
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
    &nbsp;.&nbsp;
    <i class="fa fa-clock"></i>
    &nbsp;
    {{ .ReadingTime }} minute{{ if (ne .ReadingTime 1) }}s{{ end }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
    &nbsp;.&nbsp;
    <i class="fa fa-pencil"></i>
    &nbsp;{{ .WordCount }} words
{{- end }}

{{- if or .Params.author site.Params.author }}
    &nbsp;.&nbsp;
    <i class="fa fa-user"></i>
    &nbsp;
    {{- $author := (.Params.author | default site.Params.author) }}
    {{- $author }}
{{- end }}
