{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

{{- if and (gt (len $pages) 1) (in $pages . ) }}
    <div class="d-flex bd-highlight mb-3">
         <div class="p-2 bd-highlight">
                {{- with $pages.Next . }}
                    <a href="{{ .Permalink }}">
                        <span>« Prev</span><br/>
                        <span>{{- .Name -}}</span>
                    </a>                   
                {{- end }}
            </div>
            <div class="ms-auto bd-highlight align-content-end">
                {{- with $pages.Prev . }}
                    <a class="next" href="{{ .Permalink }}">
                        <span>Next »</span><br/>
                        <span>{{- .Name -}}</span>
                    </a>
                {{- end }}
            </div>
        
    </div>
{{- end }}